body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

#box {
    width: 150px;
    height: 150px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}

.pq-2 {
    font-size: 16px;
    background-color: aliceblue;
    color: brown;
}

.newClass {
    font-size: 20px;
    background-color: cornsilk;
    color: brown;
}