body {
    background-color: aliceblue;
}

#box-1 {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}

.toggle {
    margin-top: 10px;
    font-size: 15px;
    padding: 3px 9px;
    background-color: #212121;
    color: aliceblue;
}

.dark {
    background-color: #212121;
    color: aliceblue;
}

.dark-button {
    margin-top: 10px;
    font-size: 15px;
    padding: 3px 9px;
    background-color: #212121;
    color: aliceblue;
}

.light-button {
    margin-top: 10px;
    font-size: 15px;
    padding: 3px 9px;
    background-color: aliceblue;
    color: #212121;
}

.light {
    background-color: aliceblue;
    color: #212121;
}