body {
    background-color: bisque;
}


.heading {
    text-align: center;
    background-color: brown;
    color: bisque;
}

button {
    background-color: blue;
    color: white;
}

.hidden {
    visibility: hidden;
}